@import url(https://db.onlinewebfonts.com/c/a9ad0a3fc5e238252c64655a0d4517fb?family=Visby+Bold);
@import url(https://db.onlinewebfonts.com/c/e3d4d88f7ba46cfbdfb4045368826129?family=Visby+Regular);
@import url(https://db.onlinewebfonts.com/c/569f1641ae44ac7b9b7a2ef1a735c200?family=Visby+Medium);
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 11px;
}

body::-webkit-scrollbar-thumb{
    background-color: #F45C2C;
    border: 1.2px solid white;
}

body::-webkit-scrollbar-corner{
    background-color: black;
}

body::-webkit-scrollbar-track{
    background-color: #FFF0EB;
}


.Clients::-webkit-scrollbar{
    display: none;
}




#root{
    overflow-x: hidden;
}


.perspective{
    perspective : 1000px
}

.rotate:hover{
    transform: rotateY(180deg);
}


.backface-hidden{
    backface-visibility: hidden;
}


.transform-style-preserve-3d{
    transform-style: preserve-3d;
}


.Rotate{
    transform: rotateY(180deg);
}